<!doctype html>
<html lang="en">
<%= partial "partials/header" %>
<body class="<%= page_classes %>">
  <%= partial 'partials/navigation' %>
  <%= yield %>
  <%= javascript_include_tag ("all.js") %>
</body>
</html>
