---
title: Welcome to Hoppipolla
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "hop-logo.svg" %>
  </div>
  <h1>Welcome to Hoppipolla</h1>
  <p>A series of vlogs and blog posts from Primary School Teachers for parents, based in the U.K.</br>
  Please follow us...</p>
  <div class="social-icons">
    <%= image_tag "email.svg" %>
    <%= image_tag "instagram.svg" %>
    <%= image_tag "twitter.svg" %>
    <%= image_tag "play.svg" %>
  </div>
</div>
