---
title: Welcome to Hoppipolla
---
<div class="welcome">
  <div class="logo">
    <%= image_tag "hop-logo.svg" %>
  </div>
  <h1>Welcome to Hoppipolla</h1>
  <p>A series of vlogs and blog posts from Primary School Educators for parents and Teachers, based in the U.K.</br>
  Please follow us...</p>
  <div class="social-icons">
    <a href="mailto:hi@hoppipolla.co"><%= image_tag "email.svg" %></a>
    <a href="https://www.instagram.com/hoppipolla.co/"><%= image_tag "instagram.svg" %></a>
    <a href="https://twitter.com/Hoppipolla____"><%= image_tag "twitter.svg" %></a>
    <a href="https://www.youtube.com/channel/UC-waStN4gy3fV0A0h-8t1VQ"><%= image_tag "play.svg" %></a>
  </div>
  <div class="copywrite">
    <p><%= Time.now.strftime("%Y") %> ALL RIGHTS RESERVED HOPPIPOLLA.CO</p></small>
  </div>
</div>
